<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN"
   "http://www.w3.org/TR/html4/frameset.dtd">
<html>
  <head>
    <title>Interface definition</title>
  </head>
  <frameset cols="20%,80%">
    <frame src="links.html" name="navigation">
    <frame src="<%= @first_interface.to_path %>" name="content">
  </frameset>
</html>