body {
  padding: 0px;
  margin: 0px;
}

h1 {
  margin: 0px;
  padding: 50px 10px 10px 10px;
  display: block;
  background: url(stripe.png);
  color: white;
  border-bottom: 3px solid black;
}

.resources, .object {
  margin-left: 20px;
}

.resources .resource h2, .object h2 {
  padding: 5px;
  background: #212121;
  color: white;
}

.resources .resource h2 .method {
  color: #C9CF24;
}

.resources .resource h2 .path {
  font-family: monospace;
  color: white;
}

.resources .resource h2 .path .parameter {
  color: #2B74F6;
}

.resources .resource p {
  
}

.resources .resource .request, .resources .resource .response, .object > .example {
  background: #efefef;
  border: 1px solid #212121;
  border-right: 0px;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.resources .resource .request h3, .resources .resource .response h3 {
  background: #212121;
  color: white;
  margin: 0px;
  padding: 5px;
}
.resources .resource .request h4, .resources .resource .response h4 {
  margin: 5px 0px 0px 0px;
  border-bottom: 1px solid #212121;
}

table {
  width: 100%;
}

table thead {
  background: #ccc;
  font-weight: bold;
}

table tbody .optional, table tbody .type {
  font-weight: bold;
  color: #2B74F6;
  text-align: center;
}

table tbody .name {
  font-weight: bold;
}

label {
  font-weight: bolder;
  color: #2B74F6;
}